<div class="field-container" [class.is-invalid]="hasError">
    @if (label()) {
    <label class="field-label">{{ label() }}</label>
    }



    <div class="input-wrapper">

        @if (icon()) {
        <span class="button-icon" [style.mask-image]="'url(/icons/ic_' + icon() + '.svg)'"
            [style.-webkit-mask-image]="'url(/icons/ic_' + icon() + '.svg)'">
        </span>
        }

        @if (rows() > 1) {
        <textarea [value]="value()" [placeholder]="placeholder()" [rows]="rows()" (input)="handleInput($event)" (blur)="onTouched()"
            class="field-control"></textarea>
        } @else {
        <input type="text" [value]="value()" [placeholder]="placeholder()" (input)="handleInput($event)"
            (blur)="onTouched()" class="field-control" />
        @if (hasError) {
        <span class="error-message">Campo inválido</span>
        }
        }
    </div>
</div>