<div class="field-container">
    @if (label()) {
        <label class="field-label">{{ label() }}</label>
    }

    <div class="input-wrapper">
        @if (rows() > 1) {
            <textarea [placeholder]="placeholder()" [rows]="rows()" (input)="handleInput($event)" (blur)="onTouched()" class="field-control"></textarea>
        } @else {
            <input type="text" [placeholder]="placeholder()" (input)="handleInput($event)" (blur)="onTouched()" class="field-control" />
        }
    </div>
</div>