@import '../../../styles/variables';
@import '../../../styles/typography';

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: rgba(33, 33, 33, 0.4);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 9999;
    animation: fadeIn 0.2s ease-out;
}

.modal-content {
    background-color: $color-white;
    width: 90%;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    animation: scaleIn 0.3s cubic-bezier(0.16, 1, 0.3, 1);
    padding: 24px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;

    .modal-title {
        @include text-heading-lg;
        color: $color-gray-500;
    }

    .close-icon {
        width: 16px;
        height: 16px;
        mask-size: contain;
        mask-position: center;
        mask-repeat: no-repeat;
        -webkit-mask-size: contain;
        -webkit-mask-position: center;
        -webkit-mask-repeat: no-repeat;
        background-color: $color-gray-500;
        cursor: pointer;
    }
}

.modal-body {

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes scaleIn {
    from {
        transform: scale(0.95);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}