<div class="card-container">
    <div class="img-container">
        <img [src]="book()?.imageUrl" alt="Card Image">
    </div>

    <div class="card-body">
        <span class="text-title">{{book()?.title}}</span>
        <span class="text-author">{{book()?.author}}</span>
        <app-c-badge class="badge" [theme]="convertStatus(book()?.status?.title!!)"/>
        <app-c-rating class="rating" [readonly]="true" [rateValue]="book()?.rating!!"></app-c-rating>
        <span class="text-review">{{book()?.review}}</span>
    </div>

    <div class="actions">
        <app-c-button theme="secondary" icon="pen" (clicked)="onAction('edit')">Editar</app-c-button>
        <app-c-button theme="danger" icon="trash" (clicked)="onAction('delete')">Excluir</app-c-button>
    </div>

</div>
