<div class="home-container">

    <div class="header">
        <div class="logo">
            <img src="icons/ic_open_book.svg" alt="">
            <span>Minha Biblioteca</span>
        </div>
        <app-c-button icon="plus" (clicked)="openModal()">Adicionar livro</app-c-button>


    </div>

    @if (isAddBookModalOpen()) {
    <app-c-modal title="Novo Livro" (onClose)="closeModal()">
        <p>O conteúdo do seu formulário virá aqui!</p>
    </app-c-modal>
    }

    @if (totalCount() > 0) {
    <div class="dashboard">
        <div class="dsb-card total">
            <span class="count">{{totalCount()}}</span>
            <span class="label">Total</span>
        </div>
        <div class="dsb-card wanting-to-read">
            <span class="count">{{wantToReadCount()}}</span>
            <span class="label">Querendo ler</span>
        </div>
        <div class="dsb-card reading">
            <span class="count">{{readingCount()}}</span>
            <span class="label">Lendo</span>
        </div>
        <div class="dsb-card read">
            <span class="count">{{readCount()}}</span>
            <span class="label">Lido</span>
        </div>
    </div>
    }


    <div class="filter-container">
        <app-c-field class="field-filter" placeholder="Buscar por título ou autor..." (change)="onChangeFilter($event)"
            icon="search"></app-c-field>
        <app-c-button theme="secondary">Todos os status</app-c-button>
    </div>

    @if (totalCount() > 0) {
    <div class="book-list">
        @for (item of filteredBooks(); track $index) {
        <app-c-card [book]="item" (onDelete)="deleteBook(item.id)"></app-c-card>
        }

    </div>
    }@else {
    <span class="empty-state">Nenhum livro adicionado ainda. Comece adicionando seu primeiro livro!</span>
    }

    @if (isAddBookModalOpen()) {
    <app-c-modal title="Novo Livro" (onClose)="closeModal()">
        <form class="form-book">
            <app-c-field placeholder="Digite o título do livro" label="Título"></app-c-field>
            <app-c-field placeholder="Digite o nome do autor" label="Autor"></app-c-field>
            <app-c-field placeholder="URL da capa do livro (opcional)" label="URL da Imagem"></app-c-field>
            <app-c-rating (onSelect)="onSelectRating($event)" label="Avaliação"></app-c-rating>
            <app-c-field label="Comentário" placeholder="Suas anotações sobre o livro (opcional)"
                [rows]="3"></app-c-field>
            <div class="modal-actions">
                <app-c-button theme="secondary" (clicked)="closeModal()">Cancelar</app-c-button>
                <app-c-button (clicked)="addBook()">Adicionar</app-c-button>
            </div>
        </form>

    </app-c-modal>
    }
</div>