<div class="home-container">

    <div class="header">
        <div class="logo">
            <img src="icons/ic_open_book.svg" alt="">
            <span>Minha Biblioteca</span>
        </div>
        <app-c-button icon="plus" (clicked)="openModal('add')">Adicionar livro</app-c-button>


    </div>

    @if (totalCount() > 0) {
    <div class="dashboard">
        <div class="dsb-card total">
            <span class="count">{{totalCount()}}</span>
            <span class="label">Total</span>
        </div>
        <div class="dsb-card wanting-to-read">
            <span class="count">{{wantToReadCount()}}</span>
            <span class="label">Querendo ler</span>
        </div>
        <div class="dsb-card reading">
            <span class="count">{{readingCount()}}</span>
            <span class="label">Lendo</span>
        </div>
        <div class="dsb-card read">
            <span class="count">{{readCount()}}</span>
            <span class="label">Lido</span>
        </div>
    </div>
    }


    <div class="filter-container">
        <app-c-field class="field-filter" placeholder="Buscar por título ou autor..." (change)="onChangeFilter($event)"
            icon="search"></app-c-field>
        <app-c-dropdown [options]="filterDropdownOptions" [valueSelected]="selectedFilterDropdownOption()" (valueChange)="onChangeSelectedFilterDropdownOption($event)"></app-c-dropdown>
    </div>

    @if (totalCount() > 0) {
    <div class="book-list">
        @for (item of filteredBooks(); track $index) {
        <app-c-card [book]="item" (onDelete)="deleteBook(item.id)" (onEdit)="openModal('update', item)"></app-c-card>
        }

    </div>
    }@else {
    <span class="empty-state">Nenhum livro adicionado ainda. Comece adicionando seu primeiro livro!</span>
    }

    @if (isModalOpen()) {
    <app-c-add-updated-book (closeModal)="closeModal()" (addUpdateBook)="addUpdateBook($event)"
        [isUpdateMode]="modalMode() === 'update'" [bookToUpdate]="bookToUpdate()" [isLoading]="isLoadingAddUpdateBook()"></app-c-add-updated-book>
    }
</div>