@import '../../../styles/spacing';
@import '../../../styles/variables';
@import '../../../styles/typography';

.login-background {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-height: 100vh;
    background-color: $color-gray-100;

    .login-container {
        // Em vez de deixar o conteúdo decidir a largura, nós decidimos.
        width: 440px; // Escolha uma largura que fique boa no seu Figma

        // Isso garante que em telas menores que 440px, ele ocupe a tela toda
        max-width: 100%;

        display: flex;
        flex-direction: column;
        margin: 0 auto; // Garante centralização se houver espaço
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: $spacing-sm;
        @include text-heading-md;
        color: $color-gray-500;
        font-weight: 600;

        margin-bottom: 24px;

        img {
            height: 40px;
            width: 40px;
        }

    }

    .login-card {
        width: 100%;
        box-sizing: border-box;
        max-width: 480px;
        padding: $spacing-md;
        display: flex;
        flex-direction: column;
        padding: 28px;
        border-radius: 12px;
        background-color: $color-white;

        .text-title {
            @include text-heading-xl;
            font-weight: 700;
            color: $color-gray-500;
        }

        .text-subtitle {
            @include text-body-sm;
            color: $color-gray-400;
        }

        .login-form {
            display: flex;
            flex-direction: column;
            gap: 12px;

            margin-top: $spacing-lg;
            margin-bottom: $spacing-lg;
        }

    }

    .change-auth-type {
        width: 100%;
        box-sizing: border-box;
        max-width: 480px;

        display: flex;
        flex-direction: column;

        padding: 28px;
        border-radius: 12px;

        background-color: $color-white;
        margin-top: 12px;

        .text-title {
            @include text-heading-md;
            color: $color-gray-500;
        }

        .text-subtitle {
            @include text-body-sm;
            color: $color-gray-400;
        }

        app-c-button {
            margin-top: $spacing-md;
        }
    }

}