$spacing-none: 0px;
$spacing-xxs:  4px;
$spacing-xs:   8px;
$spacing-sm:   12px;
$spacing-md:   16px;
$spacing-lg:   24px;
$spacing-xl:   32px;
$spacing-2xl:  40px;
$spacing-3xl:  48px;
$spacing-4xl:  64px;
$spacing-huge: 80px;