//Grayscale
$color-white: #FFFFFF;       
$color-gray-100: #F3F3F5;
$color-gray-200: #E1E1E6;
$color-gray-300: #D1D5DC;
$color-gray-400: #717182;
$color-gray-500: #0A0A0A;
$color-overlay: #000000;

// Navy
$color-navy-dark: #211F42;     
$color-navy-low: #030213;    

// Accent
$color-yellow-bright: #FDC700;     
$color-red-bright: #D4183D;     
$color-yellow-base: #894B00;     
$color-blue-base: #193CB8;     
$color-green-base: #016630;     
$color-yellow-light: #FEF9C2;     
$color-blue-light: #DBEAFE;     
$color-green-light: #DCFCE7;     

// Typography
$font-family-base: 'Inter', sans-serif;